body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: rgb(245, 245, 245);
  font-size: 18px;
  transition: 0.2s;

  display: flex;
  align-items: center;
  user-select: none;
}

ul li:hover {
  background: #ddd;
}

.DoneIcon {
  font-size: 12px;
  color: white;
  border-radius: 4px;
  background-color: #23d160;
  padding: 3px 6px;
  margin: 0px 10px;
}

.DeleteIcon {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.DeleteIcon:hover {
  background-color: #e11d0f;
  color: white;
}

.Header {
  background-color: #36abf4;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

.Header:after {
  content: '';
  display: table;
  clear: both;
}

input {
  margin: 0;
  border: none;
  border-radius: 5px;
  width: 80%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.AddNewToDoButton {
  padding: 10px;
  width: 20%;
  color: #555;
  float: left;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.1s;
  background-color: rgb(238, 220, 14);
}

.AddNewToDoButton:hover {
  background-color: #bbb;
}
