.Header {
  background-color: #36abf4;
  padding: 20px 20px;
  color: white;
  text-align: center;
}

.Header:after {
  content: '';
  display: table;
  clear: both;
}

input {
  margin: 0;
  border: none;
  border-radius: 5px;
  width: 80%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.AddNewToDoButton {
  padding: 10px;
  width: 20%;
  color: #555;
  float: left;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.1s;
  background-color: rgb(238, 220, 14);
}

.AddNewToDoButton:hover {
  background-color: #bbb;
}

ul {
  margin: 0;
  padding: 0;
}
