ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: rgb(245, 245, 245);
  font-size: 18px;
  transition: 0.2s;

  display: flex;
  align-items: center;
  user-select: none;
}

ul li:hover {
  background: #ddd;
}

.DoneIcon {
  font-size: 12px;
  color: white;
  border-radius: 4px;
  background-color: #23d160;
  padding: 3px 6px;
  margin: 0px 10px;
}

.Filler {
  flex: 1;
}

.DeleteIcon {
  padding: 6px 8px;
}

.DeleteIcon:hover {
  background-color: #e11d0f;
  color: white;
}
